
{% extends 'MainApps/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Orders{% endblock %}

{% block main_content %}
        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="heading text-center">My Orders</div>
            </div>
        </div>
        <!-- /page-title -->
        
        <!-- page-cart -->
        <section class="flat-spacing-11">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <ul class="my-account-nav">
                            <li><a href="{% url "myaccount" %}" class="my-account-nav-item ">Dashboard</a></li>
                            <li><span class="my-account-nav-item active">Orders</span></li>
                            <li><a href="{% url "myaddress" %}" class="my-account-nav-item">Addresses</a></li>
                            <li><a href="{% url "edit_password" %}" class="my-account-nav-item">Change Password</a></li>
                            <li><a href="{% url "logout" %}" class="my-account-nav-item">Logout</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div class="my-account-content account-order">
                            <div class="wrap-account-order">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="fw-6">#Code</th>
                                            <th class="fw-6">Product Name</th>
                                            <th class="fw-6">Qty</th>
                                            <th class="fw-6">Order Status</th>
                                            <th class="fw-6">Total (Rs)</th>
                                            <th class="fw-6">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <!-- Order header row spanning all columns -->
                                        <tr class="bg-light fw-bold text-dark">
                                                <td colspan="6">
                                                    <div class="d-flex justify-content-between">
                                                        <span>Order Code :&nbsp;{{ order.order_code }}</span>
                                                        <span>Order Date : {{ order.created_at|date:"d/m/Y" }}</span>
                                                    </div>
                                                </td>
                                            </tr>


                                            {% for item in order.items.all %}
                                            <tr>
                                                <td>{{ item.peripheral.product_code|default:"--" }}</td>
                                                <td>{{ item.peripheral.name }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ order.order_status }}</td>
                                                <td>{{ item.total_cost }}</td>
                                                <td>{{ order.created_at|date:"d/m/Y" }}</td>
                                            </tr>
                                            {% endfor %}
                                        {% empty %}
                                            <tr><td colspan="6">No orders found.</td></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-cart -->
{% endblock %}